html, body {
    background-color: #eee;
}
body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    /* width: 820px; */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 10px;
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
    min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    padding-left: 9px;
    margin-left: 10px;
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}

.topbar p {
    color: #888;
}

.profile {
    margin-left: 32px;
}

.profile:first-child > .danger {
    display: none;
}

.phones label {
    display: none;
}

.phones div:first-child label {
    display: inline-block;
}

.manage {
    margin-left: 32px;
    margin-bottom: 20px;
}

.phone_template, .profile_template {
    display: none;
}

.btn-fixedWidth100 {
    width: 100px;
}


.table > tbody > tr > td {
    vertical-align: middle;
}

.red {
    font-weight: bold;
    color: red;
}

.green {
    font-weight: bold;
    color: green;
}

.yellow {
    font-weight: bold;
    color: #FFC75E;
}