@(title: String)(implicit header: web.Header)

@import helper._
@import web.Header






@template_main("Bootstrap Test") {

<style>
    .border-div {
        border: solid 1px #dddddd;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4 border-div">
            Here is some stuff here
        </div>
        <div class="col-md-4 border-div">
            More stuff
        </div>
        <div class="col-md-3 border-div">
            and more
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 border-div">
            Here is some stuff here Here is some stuff here Here is some stuff here Here is some stuff here
            Here is some stuff here Here is some stuff here Here is some stuff here Here is some stuff here
            Here is some stuff here Here is some stuff here Here is some stuff here Here is some stuff here
            Here is some stuff here Here is some stuff here Here is some stuff here Here is some stuff here
        </div>
        <div class="col-md-8 border-div">
            More stuff
            Here is some stuff here Here is some stuff here Here is some stuff here Here is some stuff here
            Here is some stuff here Here is some stuff here Here is some stuff here Here is some stuff here
            Here is some stuff here Here is some stuff here Here is some stuff here Here is some stuff here
        </div>
        <div class="col-md-1 border-div">
            and more
            Here is some stuff here Here is some stuff here Here is some stuff here Here is some stuff here
            Here is some stuff here Here is some stuff here Here is some stuff here Here is some stuff here
            Here is some stuff here Here is some stuff here Here is some stuff here Here is some stuff here
            Here is some stuff here Here is some stuff here Here is some stuff here Here is some stuff here
        </div>
    </div>
</div>


}