@(comparisonForm: play.api.data.Form[model.Comparison])(implicit header: web.Header)
@import web.OptionUtil

@import helper._
@import helper.twitterBootstrap._


@template_main("Start Manual Comparison") {

    @helper.form(action = routes.ComparisonsController.save) {

        <fieldset>

            @select(
                comparisonForm("referenceDatastoreId"),
                OptionUtil.datastoreOptions,
                '_label -> "Reference Datastore",
                '_help -> "The database to compare to."
            )

            @select(
                comparisonForm("compareDatastoreId"),
                OptionUtil.datastoreOptions,
                '_label -> "Compare Datastore",
                '_help -> "The datastore to compare."
            )

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Run Comparison">
                <a href="@routes.ComparisonsController.list" class="btn btn-primary">Cancel</a>
            </div>

        </fieldset>

    }


}