@(comparisons: scala.collection.immutable.List[model.Comparison])(implicit header: web.Header)

@import helper._
@import web.Header
@import model.ComparisonStatus



@title(text: String) = @{
    text.split(' ').map(_.capitalize).mkString(" ")
}

@displayStatusClass(status:String)= @{
    status match {
    case ComparisonStatus.PENDING => "yellow"
    case ComparisonStatus.PASSED => "green"
    case ComparisonStatus.FAILED => "red"
    case ComparisonStatus.RUNNING => "yellow"
    case _ => ""
    }
}



@template_main("Comparisons") {


    <a href="@routes.ComparisonsController.create()" class="btn btn-primary">Run New Comparison</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference Datastore</th>
                <th>Compare Datastore</th>
                <th>Status</th>
                <th>Created</th>
                <th>Started</th>
                <th>Completed</th>
                <th></th>
            </tr>
        </thead>
        @comparisons.map { comparison =>
            <tr>
                <td>@comparison.id</td>
                <td>@comparison.referenceDatastore.name</td>
                <td>@comparison.compareDatastore.name</td>
                <td>
                    <span class="@displayStatusClass(comparison.status)">
                        @comparison.status
                    </span>
                </td>
                <td>@comparison.createdTime</td>
                <td>@comparison.startTime</td>
                <td>@comparison.completedTime</td>
                <td><a class="btn btn-info" href="@routes.ComparisonsController.view(comparison.id)">Details</a></td>
            </tr>

        }
    </table>

}