@(addEditDatastoreForm: play.api.data.Form[model.Datastore], title:String )(implicit header: web.Header)

@import helper._
@import helper.twitterBootstrap._
@import web.OptionUtil


    @template_main(title) {

    @helper.form(action = routes.DatastoresController.save) {

        <fieldset>

            @addEditDatastoreForm.globalError.map { error =>
                <div class="alert alert-danger alert-dismissable" role="alert">
                    @error.message
                </div>
            }

            <input type="hidden" name="id" value="@addEditDatastoreForm.data.get("id")" />
            @inputText(
                addEditDatastoreForm("name"),
                '_label -> "Name",
                '_help -> "The name to refer to the datastore."
            )

            @inputText(
                addEditDatastoreForm("host"),
                '_label -> "Host",
                '_help -> "The hostname or ip address."
            )

            @inputText(
                addEditDatastoreForm("port"),
                '_label -> "Port",
                '_help -> "The port to connect to. (Default for Postgres is 5432)"
            )

            @inputText(
                addEditDatastoreForm("username"),
                '_label -> "Username",
                '_help -> "The username to log into the datastore."
            )

            @inputText(
                addEditDatastoreForm("password"),
                '_label -> "Password",
                '_help -> "The password to log into the datastore. "
            )

            @inputText(
                addEditDatastoreForm("dbName"),
                '_label -> "Db Name",
                '_help -> "The name of the database to connect to (ex: customers)."
            )


            @select(
                addEditDatastoreForm("versionId"),
                OptionUtil.versionOptions,
                '_label -> "Version",
                '_help -> "The version of the database."
            )

            @checkbox(
                addEditDatastoreForm("isReference"),
                '_label -> "Is Reference ?",
                '_help -> "Is this the reference datastore for this version? There may be only one reference datastore for each version."
            )




            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="@routes.DatastoresController.list" class="btn btn-primary">Cancel</a>
            </div>

        </fieldset>

    }


}