@(title: String, datastores: scala.collection.immutable.List[model.Datastore])(implicit header: web.Header)

@import helper._
@import web.Header






@template_main(title) {

    <div class="alert alert-info" role="alert">
        This is the Datastores.
    </div>
    <a href="@routes.DatastoresController.create()" class="btn btn-primary"">Add</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>UN/PW</th>
                <th>Version</th>
                <th>Reference?</th>
                <th>Actions</th>
            </tr>
        </thead>
        @datastores.map { datastore =>
            <tr>
                <td>@datastore.id</td>
                <td>@datastore.name</td>
                <td>@datastore.host:@datastore.port/@datastore.name</td>
                <td>@datastore.username/@datastore.password</td>
                <td>
                    <a class="btn btn-success" href="#">@datastore.version.name</a>
                </td>
                <td>@datastore.isReference</td>
                <td>
                    <a class="btn btn-info" href="@routes.DatastoresController.edit(datastore.id)">Edit</a>
                    <a class="btn btn-info" href="@routes.DatastoresController.delete(datastore.id)">Delete</a>
                    <a class="btn btn-info" href="@routes.DatastoresController.copy(datastore.id)">Copy</a>
                </td>
            </tr>

        }
    </table>

}