@(title: String, versions: scala.collection.immutable.List[model.Version])(implicit header: web.Header)

@import helper._
@import web.Header






@template_main(title) {

    <div class="alert alert-info" role="alert">
        This is the Versions.
    </div>
    <a href="@routes.VersionsController.create()" class="btn btn-primary">Add</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        @versions.map { version =>
            <tr>
                <td>@version.id</td>
                <td>@version.name</td>
                <td>
                    <a class="btn btn-info" href="@routes.VersionsController.edit(version.id)">Edit</a>
                    <a class="btn btn-info" href="@routes.VersionsController.delete(version.id)">Delete</a>
                </td>
            </tr>

        }
    </table>

}