@(versionForm: play.api.data.Form[model.Version], title:String )(implicit header: web.Header)

@import helper._
@import helper.twitterBootstrap._


@template_main(title) {

    @helper.form(action = routes.VersionsController.save) {

        <fieldset>
            <input type="hidden" name="id" value="@versionForm.data.get("id")" />
            @inputText(
                versionForm("name"),
                '_label -> "Name",
                '_help -> "The name to refer to the version.",
                '_error -> versionForm.globalError
            )

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="@routes.VersionsController.list" class="btn btn-primary">Cancel</a>
            </div>

        </fieldset>

    }


}